{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié{% endblock %}

{% block main %}
<div class="container mt-5">
    <h1>Réinitialiser votre mot de passe</h1>
    <form method="post">
        <label for="email">Votre adresse email</label>
        <input type="email" id="email" name="email" class="form-control" required>
        <button type="submit" class="btn btn-primary mt-3">Envoyer le lien</button>
    </form>
</div>
{% endblock %}
