{% extends 'base.html.twig' %}

{% block title %}Réinitialiser le mot de passe{% endblock %}

{% block main %}
<div class="container mt-5">
    <h1>Changer votre mot de passe</h1>
    <form method="post">
        <label for="new_password" class="form-label">Nouveau mot de passe</label>
        <input type="password" id="new_password" name="new_password" required class="form-control">

        <button type="submit" class="btn btn-success mt-3">Mettre à jour</button>
    </form>
</div>
{% endblock %}
