body {
  
    display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
}



/* Le main prend tout l’espace disponible */
main {
  flex: 1;
}



.img-panier {
  width: 100px;
  height: auto;
  object-fit: contain;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .img-panier {
    width: 80px;
  }
}

@media (max-width: 480px) {
  .img-panier {
    width: 60px;
  }
}






/* Le footer reste en bas */
footer {
  background-color: rgba(238, 224, 224, 1);
   color:black;
  text-align: center;
    padding: 10px 0;
  
 
}
