{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block main %}
    <h1>Contactez-nous</h1>
    <p>Vous pouvez nous écrire via ce formulaire ou nous joindre par email.</p>
{% endblock %}
